{% extends 'base.html' %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="log">
        <h1 id="text_login">Войти</h1>
            <div id="loginout">
                Если у вас нет аккаунта, пожалуйста <a id="signup" href="{% url 'register' %}">создайте</a>
                <div class="loginout">
                    <form action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <p id="btn">
                            <input class="button" type="submit" value="Войти">
                        </p>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}