{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="log">
        <h1 id="text_login">Ваш аккаунт</h1>
    </div>
    {% if request.user.is_authenticated %}
        <div class="log">
            <h1></h1>
            <img id="icon" src="{% if user.image %}{{ user.image.url }}
                            {% else %}{% static 'images/no_image.png' %}{% endif %}">
        </div>
    {% else %}
        <div>
            <h1 id="text_login"><a class="btn1" Для начала href="{% url 'login' %}">авторизуйтесь</a></h1>
        </div>
    {% endif %}
{% endblock %}