{% extends 'base.html' %}


{% block title %}
    Create an account
{% endblock %}

{% block content %}
    <div class="log">
        <h1 id="text_login">Регистрация</h1>
            <div id="loginout">
                <form action="" method="post">
                    {{ user_form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="account1">
                        У вас уже есть аккаунт? <a id="signup" href="{% url 'login' %}">авторизоваться</a>
                    </div>
                    <p id="btn">
                        <input class="button" type="submit" value="Войти">
                    </p>
                </form>
            </div>
    </div>
{% endblock %}